.intro {
    display: flex;
    flex-direction: column;
    justify-items: center;
    /* width: 828px; */
    /* align-items:start; */
    /* padding-left: 148px; */
}

.intro__title {
    width: 828px;
    padding-left: 148px;
    padding-top: 92px;
   
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    /* text-align: center; */
    color: #FFFFFF; /* PASSA PARA OUTRO CSS??*/
}

.intro__quote {
    width: 736px;
    padding-left: 148px;
    padding-top: 75px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: #FFFFFF;
    }
    
.intro__cite {
    display: flex;
    width: 720px;
    justify-content: flex-end;
    /* text-align: right; */
    padding-left: 148px;
    padding-top: 9px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: #FFFFFF;
    }
    
.intro__text {
    width: 720px;
    padding-left: 148px;
    padding-top: 32px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26.08px;
    color: #FFFFFF;
    }

.intro__images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2;
    gap: 16px;
    width: 1184px;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 92px;
    }
        
.intro__image {
    width: 284px;
    }

@media (min-width: 768px)  and (max-width: 1279px) {
    
    .intro {
        display: flex;
        flex-direction: column;
        justify-items: center;
    }

    .intro__title {
        width: 707px;
        padding-left: 24px;
        padding-top: 88px;
       
        font-family: 'Inter';
        font-style: normal;
        font-weight: 900;
        font-size: 54px;
        line-height: 58px;
        /* text-align: center; */
        color: #FFFFFF; /* PASSA PARA OUTRO CSS??*/
    }

    .intro__quote {
        width: 707px;
        padding-left: 24px;
        padding-top: 58px;
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 34px;
        color: #FFFFFF;
        }
        
    .intro__cite {
        display: flex;
        width: 720px;
        justify-content: flex-end;
        /* text-align: right; */
        padding-left: 24px;
        padding-top: -6px;
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 34px;
        color: #FFFFFF;
        }
        
    .intro__text {
        width: 720px;
        padding-left: 24px;
        padding-top: 32px;
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26.08px;
        color: #FFFFFF;
        }
    
        .intro__images {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 4;
            gap: 16px;
            width: 720px;
            padding-left: 24px;
            padding-right: 24px;
            padding-top: 64px;
            }
                
        .intro__image {
            width: 352px;
            }

}

@media (min-width: 320px)  and (max-width: 767px){

    .intro {
        display: flex;
        flex-direction: column;
        justify-items: center;
    }

    .intro__title {
        width: 288px;
        padding-left: 16px;
        padding-top: 44px;
       
        font-family: 'Inter';
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 35px;
        /* text-align: center; */
        color: #FFFFFF; /* PASSA PARA OUTRO CSS??*/
    }

    .intro__quote {
        width: 288px;
        padding-left: 16px;
        padding-top: 54px;
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        color: #FFFFFF;
        }
        
    .intro__cite {
        display: flex;
        width: 288px;
        justify-content: flex-end;
        /* text-align: right; */
        padding-left: 16px;
        padding-top: 55px;
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 34px;
        color: #FFFFFF;
        }
        
    .intro__text {
        width: 288px;
        padding-left: 16px;
        padding-top: 18px;
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26.08px;
        color: #FFFFFF;
        }
    
    .intro__images {
        
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 8;
        gap: 12px;
        width: 288px;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 38px;
        }
                
    .intro__image {
        width: 288px;
        }

}
